<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="./css/Element-UI.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/common/common.css">
    <script src="./js/vue.min.js"></script>
    <script src="./js/Element-UI.js"></script>
    <script src="./js/jquery-3.6.3.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/effects/fl.js"></script>
</head>

<body>
    <div id="app">
        <div id="title"></div>
        <el-card class="box-card">
            <h1 style="margin-left: 200px;margin-bottom: 30px;">登录</h1>
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px"
                class="demo-ruleForm">
                <el-form-item label="账号" prop="userCode">
                    <el-input class="submit" type="text" v-model="ruleForm.userCode" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="pass">
                    <el-input class="submit" type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
                </el-form-item>
                <span class="msg">{{msg}}</span>
                <el-form-item>
                    <el-button class="submit" type="primary" @click="submitForm('ruleForm')">登录</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
</body>
<script src="../js/pageJs/login.js"></script>
</html>